# Python
__pycache__/
*.pyc
.venv/

# Playwright persistent profile (RIESIG, darf NICHT committed werden)
data/pw_profile/

# Debug (optional: wenn du debug html nicht committen willst)
# debug/*.html

# OS
Thumbs.db
.DS_Store
